/***************************color****************************/
:root {
  --primary-brand-IRIS: #4d5ae5;
  --Dark-color-NAVY-BLUE: #2e2f42;
  --secondary-brand-ACTIVE: #404bbf;
  --Success-color-GREEN: #31d0aa;
  --Text-color-SLATE: #434455;
  --Subtle-Text-LIGHT-SLATE: #8e8f99;
  --Accent-color-CORN-FLOVER: #e7e9fc;
  --Light-color-Cloud: #f4f4fd;
  --White: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--Dark-color-NAVY-BLUE);
  background-color: var(--White);
}
/******CONTAINER******/
.container{
  
width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

/******NO Pudding SECTION******/
/***+ in section ''no padding***/
.section.no-padding{
padding-top: -0;
padding-bottom: -0;
}
img{
display: block;
max-width: 100%;
height: auto;
}


/**********************************HEADER*************************/
.header{
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
display:flex;
}

/***LOGO***/
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-left: 156px;
}
.blue-color {
  color: var(--primary-brand-IRIS);
}
.grey-color {
  color: var(--Dark-color-NAVY-BLUE);
}
/****************NAVIGATION HEADER**************/
.list-nav {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  color: var(--Dark-color-NAVY-BLUE);
}

.list-nav:hover,
.list-nav:focus {
  color: var(--Text-color-SLATE);
}
.list-nav:active {
  color: var(--primary-brand-IRIS);
}
.header-nav{
display: flex;
align-items: center;
}
.header-list{
  display: block;
display: flex;
margin-left: 77px;
gap: 40px;
padding-top: 24px;
padding-bottom: 24px;
}


.header-list-item{
display: block;
padding-top: 24px;
padding-bottom: 24px;

}

/**************MAILTO-PHONE***************/
.mailto,
.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--Text-color-SLATE);
}
.mailto:hover,
.mailto:focus,
.phone:hover,
.phone:focus {
  color: var(--primary-brand-IRIS);
}

.mailto:active,
.phone:active {
  color: var(--White);
  background-color: var(--primary-brand-IRIS);
}
.list-mailto{
  display: flex;
margin-left: auto;
margin-right: 156px;
align-items: center;
}
.phone{
margin-left: 40px;}

/******************************HERO******************************/
.hero {
  background-color: var(--Dark-color-NAVY-BLUE);
}
.hero-caption {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  color: var(--White);
  max-width: 492px;
}

/*************BUTTON HERO** PORFOLIO************/


.button-hero {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.19;
  background-color: var(--primary-brand-IRIS);
  color: var(--White);
  border: none;
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--secondary-brand-ACTIVE);
}
.button-hero:active {
  background-color: var(--primary-brand-IRIS);
}

/******************************FEATURES*************************/
.features-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Text-color-SLATE);
}
/************************************OUR GOB*************************/
.gob-title {
  font-size: 36px;
  line-height: 1.11;
}
/************************************OUR TEAM************************/
.user {
  background-color: var(--Light-color-Cloud);
}
.user-heading {
  font-size: 36px;
  line-height: 1.11;
}
.user-name {
  font-size: 20px;
  line-height: 1.2;
}
.user-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--Text-color-SLATE);
}
.list-foto {
  background-color: var(--White);
}

/*****************************************FOOTER***********************/
.footer {
  background-color: var(--Dark-color-NAVY-BLUE);
}
.cloud-color {
  color: var(--Accent-color-CORN-FLOVER);
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.footer-text {
  line-height: 1.5;
  color: var(--Accent-color-CORN-FLOVER);
  max-width: 264px;
}

/*************************PORTFOLIO*****************/
/*************************PORTFOLIO*****************/
.button-primary {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primary-brand-IRIS);
  color: var(--White);
  border: none;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--primary-brand-IRIS);
}

.button-primary:active {
  background-color: var(--secondary-brand-ACTIVE);
}

.menu-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--Light-color-Cloud);
  color: var(--primary-brand-IRIS);
  border: 1px solid var(--Accent-color-CORN-FLOVER);
  border-radius: 4px;
}

.menu-link:hover,
.menu-link:focus {
  background-color: var(--primary-brand-IRIS);
  color: var(--White);
}

.menu-link:active {
  color: var(--White);
  background-color: var(--primary-brand-IRIS);
}
/*****************************OUR WORDS*****************/
.word-heading {
  font-size: 20px;
  line-height: 1.2;
}

.word-img {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--Text-color-SLATE);
}
